{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>За окном</title>
    <meta name="description" content="Изготовление и установка металлопластиковых окон и дверей, алюминиевых роллет, ворот">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static "zaoknom/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "zaoknom/css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "zaoknom/photoswipe/photoswipe.css" %}">
    <link rel="stylesheet" href="{% static "zaoknom/photoswipe/default-skin/default-skin.css" %}">
    <link rel="stylesheet" href="{% static "zaoknom/css/main.css" %}">

    <script src="{% static "zaoknom/photoswipe/photoswipe.min.js" %}"></script>
    <script src="{% static "zaoknom/photoswipe/photoswipe-ui-default.min.js" %}"></script>
</head>

<body>
    <div class="section top">
        <div class="container">
            <h1 class="section-heading">За окном</h1>
            <div class="row">
                <div class="one-half column">
                    <h3 class="section-description">металлопластиковые окна <br> роллеты, ворота</h3>
                </div>
                <div class="one-half column">
                    <h4>ул. Независимости (Калинина) 10<br> +38(097)99-00-303</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section gallery">
        <div class="container">
            <h2>Наши работы</h2>
            <div class="objects-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_001.jpg" %}" itemprop="contentUrl" data-size="810x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_001.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_002.jpg" %}" itemprop="contentUrl" data-size="810x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_002.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_003.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_003.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_004.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_004.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_005.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_005.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_006.jpg" %}" itemprop="contentUrl" data-size="810x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_006.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_007.jpg" %}" itemprop="contentUrl" data-size="1457x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_007.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_008.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_008.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_009.jpg" %}" itemprop="contentUrl" data-size="1620x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_009.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_010.jpg" %}" itemprop="contentUrl" data-size="608x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_010.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_011.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_011.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_012.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_012.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_013.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_013.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_014.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_014.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_015.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_015.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_016.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_016.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_017.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_017.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>
                <figure itemprop="associatedMedia" class="gallery-item" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{% static "zaoknom/content/gallery/1_018.jpg" %}" itemprop="contentUrl" data-size="1440x1080">
                        <img src="{% static "zaoknom/content/gallery/thumbnail/1_018.jpg" %}" itemprop="thumbnail" alt="" />
                    </a>
                </figure>


            </div>


        </div>




    </div>
    <div class="section map">
        <div class="container">
            <h2>Офис "За окном"</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1380.943237155408!2d30.34975285828322!3d46.19281775149514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c7c2d1516c8497%3A0x5c2c96dc6cc2f105!2z0LLRg9C70LjRhtGPINCd0LXQt9Cw0LvQtdC20L3QvtGB0YLRliwgMTDQkCwg0JHRltC70LPQvtGA0L7QtC3QlNC90ZbRgdGC0YDQvtCy0YHRjNC60LjQuSwg0J7QtNC10YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwLCA2NzcwMQ!5e0!3m2!1sru!2spl!4v1525461109743" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Закрыть (Esc)"></button>

                    <button class="pswp__button pswp__button--fs" title="На весь экран"></button>

                    <button class="pswp__button pswp__button--zoom" title="Увеличить"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Предыдущий">
            </button>

                <button class="pswp__button pswp__button--arrow--right" title="Следующий">
            </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
    <script type="text/javascript">
        (function() {
            var initPhotoSwipeFromDOM = function(gallerySelector) {

                // parse slide data (url, title, size ...) from DOM elements 
                // (children of gallerySelector)
                var parseThumbnailElements = function(el) {
                    var thumbElements = el.childNodes,
                        numNodes = thumbElements.length,
                        items = [],
                        figureEl,
                        linkEl,
                        size,
                        item;

                    for (var i = 0; i < numNodes; i++) {

                        figureEl = thumbElements[i]; // <figure> element

                        // include only element nodes 
                        if (figureEl.nodeType !== 1) {
                            continue;
                        }

                        linkEl = figureEl.children[0]; // <a> element

                        size = linkEl.getAttribute('data-size').split('x');

                        // create slide object
                        item = {
                            src: linkEl.getAttribute('href'),
                            w: parseInt(size[0], 10),
                            h: parseInt(size[1], 10)
                        };



                        if (figureEl.children.length > 1) {
                            // <figcaption> content
                            item.title = figureEl.children[1].innerHTML;
                        }

                        if (linkEl.children.length > 0) {
                            // <img> thumbnail element, retrieving thumbnail url
                            item.msrc = linkEl.children[0].getAttribute('src');
                        }

                        item.el = figureEl; // save link to element for getThumbBoundsFn
                        items.push(item);
                    }

                    return items;
                };

                // find nearest parent element
                var closest = function closest(el, fn) {
                    return el && (fn(el) ? el : closest(el.parentNode, fn));
                };

                // triggers when user clicks on thumbnail
                var onThumbnailsClick = function(e) {
                    e = e || window.event;
                    e.preventDefault ? e.preventDefault() : e.returnValue = false;

                    var eTarget = e.target || e.srcElement;

                    // find root element of slide
                    var clickedListItem = closest(eTarget, function(el) {
                        return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
                    });

                    if (!clickedListItem) {
                        return;
                    }

                    // find index of clicked item by looping through all child nodes
                    // alternatively, you may define index via data- attribute
                    var clickedGallery = clickedListItem.parentNode,
                        childNodes = clickedListItem.parentNode.childNodes,
                        numChildNodes = childNodes.length,
                        nodeIndex = 0,
                        index;

                    for (var i = 0; i < numChildNodes; i++) {
                        if (childNodes[i].nodeType !== 1) {
                            continue;
                        }

                        if (childNodes[i] === clickedListItem) {
                            index = nodeIndex;
                            break;
                        }
                        nodeIndex++;
                    }



                    if (index >= 0) {
                        // open PhotoSwipe if valid index found
                        openPhotoSwipe(index, clickedGallery);
                    }
                    return false;
                };

                // parse picture index and gallery index from URL (#&pid=1&gid=2)
                var photoswipeParseHash = function() {
                    var hash = window.location.hash.substring(1),
                        params = {};

                    if (hash.length < 5) {
                        return params;
                    }

                    var vars = hash.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        if (!vars[i]) {
                            continue;
                        }
                        var pair = vars[i].split('=');
                        if (pair.length < 2) {
                            continue;
                        }
                        params[pair[0]] = pair[1];
                    }

                    if (params.gid) {
                        params.gid = parseInt(params.gid, 10);
                    }

                    return params;
                };

                var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
                    var pswpElement = document.querySelectorAll('.pswp')[0],
                        gallery,
                        options,
                        items;

                    items = parseThumbnailElements(galleryElement);

                    // define options (if needed)
                    options = {

                        // define gallery index (for URL)
                        galleryUID: galleryElement.getAttribute('data-pswp-uid'),

                        getThumbBoundsFn: function(index) {
                            // See Options -> getThumbBoundsFn section of documentation for more info
                            var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                                pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                                rect = thumbnail.getBoundingClientRect();

                            return {
                                x: rect.left,
                                y: rect.top + pageYScroll,
                                w: rect.width
                            };
                        }

                    };

                    // PhotoSwipe opened from URL
                    if (fromURL) {
                        if (options.galleryPIDs) {
                            // parse real index when custom PIDs are used 
                            // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                            for (var j = 0; j < items.length; j++) {
                                if (items[j].pid == index) {
                                    options.index = j;
                                    break;
                                }
                            }
                        } else {
                            // in URL indexes start from 1
                            options.index = parseInt(index, 10) - 1;
                        }
                    } else {
                        options.index = parseInt(index, 10);
                    }

                    // exit if index not found
                    if (isNaN(options.index)) {
                        return;
                    }

                    if (disableAnimation) {
                        options.showAnimationDuration = 0;
                    }

                    // Pass data to PhotoSwipe and initialize it
                    gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                    gallery.init();
                };

                // loop through all gallery elements and bind events
                var galleryElements = document.querySelectorAll(gallerySelector);

                for (var i = 0, l = galleryElements.length; i < l; i++) {
                    galleryElements[i].setAttribute('data-pswp-uid', i + 1);
                    galleryElements[i].onclick = onThumbnailsClick;
                }

                // Parse URL and open gallery if it contains #&pid=3&gid=1
                var hashData = photoswipeParseHash();
                if (hashData.pid && hashData.gid) {
                    openPhotoSwipe(hashData.pid, galleryElements[hashData.gid - 1], true, true);
                }
            };

            // execute above function
            initPhotoSwipeFromDOM('.objects-gallery');



        })();
    </script>
</body>
</html>