{% extends 'docbox/base.html' %}
{% load docbox_phone %}

{% block tab_title %}
Клиенты
{% endblock tab_title %}

{% block page_header %}
Клиенты
{% endblock page_header %}

{% block content %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col" class="border-top-0">Имя</th>
      <th scope="col" class="border-top-0">Телефон</th>
    </tr>
  </thead>
  <tbody>
{% for client in object_list %}
    <tr>
        <td>
            <a href="{% url 'docbox:client-detail' client.client_id %}" class="text-reset">{{ client.name }}</a>
        </td>
      <td>{{ client.phone|phone }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}