{% extends 'docbox/base.html' %}

{% load docbox_price %}
{% load docbox_phone %}

{% block tab_title %}
{{ object.name }}
{% endblock tab_title %}

{% block page_header %}
{{ object.name }} {% if object.phone %} {{ object.phone|phone }}{% endif %}
<a class="text-reset" style="font-size:1.2rem;" href="{{ object.get_absolute_edit_url }}">
  <span class="fas fa-pen fa-fw"></span>
</a>
{% endblock page_header %}

{% block content %}
<dl class="row">
    <dt class="col-sm-2  offset-sm-3">Общий остаток:</dt>
    <dd class="col-sm-4">{{ object.remaining|price }}</dd>
</dl>
<div class="row">
<div class="col-xl-7">
  <h5 class="mt-5">Последние заказы:</h5>
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Номер заказа</th>
                <th scope="col">Статус</th>
                <th class="text-right" scope="col">Сумма</th>
                <th class="text-right" scope="col">Остаток</th>
            </tr>
        </thead>
        <tbody>
        {% for order in object.last_orders %}
        <tr>
            <td>{{ order.date_created|date:'d.m.y' }}</td>
            <td>
                <a class="text-reset" href="{% url 'docbox:order-detail' order.pk %}">
                    {{ order.provider_code }}
                </a>
            </td>
            <td>{{ order.get_status_display }}</td>
            <td class="text-right text-nowrap">{{ order.price.total|price }}</td>
            <td class="text-right text-nowrap">{{ order.remaining|price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h5 class="mb-5">
        <a class="text-reset" href="{% url 'docbox:client-orders-list' object.pk %}">все заказы</a>
    </h5>
</div>
<div class="col-xl-5">
    <h5 class="mt-5">Последние платежи:</h5>
    <table class="table table-striped table-borderless">
        <thead>
            <tr>
                <th scope="col" style="width: 100px;">Дата</th>
                <th scope="col" class="text-right" style="width: 150px;">Сумма</th>
                <th scope="col">Комментарий</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in object.last_transactions %}
        <tr>
            <td>{{ transaction.date|date:'d.m.y' }}</td>
            <td class="text-right text-nowrap">{{ transaction.amount|price }}</td>
            <td>{{ transaction.comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock content %}