{% extends 'docbox/base.html' %}

{% block tab_title %}
Удаление поставщика {{ provider.name }}
{% endblock tab_title %}

{% block page_header %}
Удаление поставщика
{% endblock page_header %}

{% block content %}
<div class="container" style="max-width: 768px;">
    {% if provider.deletable %}
    <p class="text-center"> У поставщика <b>{{ provider.name }}</b>  нет заказов и транзакций, удалить его?</p>
    <form method="post">
    {% csrf_token %}
    <div class="form-row text-center mb-5">
        <input type="submit" class="mx-auto mt-5 btn btn-danger" value="Удалить">
    </div>
    </form>
    {% else %}
    <p class="text-center"> Нельзя удалить поставщика <b>{{ provider.name }}</b> так как за ним закреплены заказы или транзакции.</p>
    {% endif %}
</div>
{% endblock content %}
