{% extends 'docbox/base.html' %}

{% block tab_title %}
Удаление номера заказа: {{ object.code }}
{% endblock tab_title %}

{% block page_header %}
Удалить заказ № {{ object.code }} ?
{% endblock page_header %}

{% block content %}
<div class="container" style="max-width: 768px;">
    <form method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    <div class="form-row text-center mb-5">
        <input type="submit" class="mx-auto mt-5 btn btn-danger" value="Удалить">
    </div>
    </form>
</div>
{% endblock content %}
