{% extends 'docbox/base.html' %}

{% block tab_title %}
Новая транзакция
{% endblock tab_title %}

{% block page_header %}
Создание новой транзакции
{% endblock page_header %}

{% block content %}
    {% include 'docbox/form/transaction.html' %}
{% endblock content %}

{% block scripts %}
<script>
$.typeahead({
    input: ".orders-typeahead",
    order: "asc",
    minLength: 0,
    searchOnFocus: true,
    templateValue: '{% templatetag openvariable %}display{% templatetag closevariable %}',
    source: {
        data: [
        {% for order in orders_list %}{
            display: '{{ order.provider_code }} - {{ order.client.name }} (остаток: {{ order.remaining }} грн.)',
            order_id: '{{ order.order_id }}',
            client_name: '{{ order.client.name }}',
            client_id: '{{ order.client.client_id }}',
        },{% endfor %}
        ]
    },
    callback: {
        onClickAfter: function(node, a, item, event){
            $("#id_order").val(item.order_id);
            $("#id_client").val(item.client_id);
            $(".clients-typeahead").val(item.client_name);
        },
        onCancel: function(node, event){
            $("#id_order").val("");
        },
    }
    
});
$.typeahead({
    input: ".clients-typeahead",
    order: "asc",
    minLength: 0,
    searchOnFocus: true,
    templateValue: '{% templatetag openvariable %}name{% templatetag closevariable %}',
    source: {
        data: [
        {% for client in clients_list %}{
            display: '{{ client }}',
            name: '{{ client.name }}',
            client_id: '{{ client.client_id }}',
        },{% endfor %}
        ]
    },
    callback: {
        onClickAfter: function(node, a, item, event){
            $("#id_client").val(item.client_id);
        },
        onCancel: function(node, event){
            $("#id_client").val("");
        },
    }
    
});
</script>
{% endblock scripts %}