{% extends 'docbox/base.html' %}
{% load docbox_price %}


{% block page_header %}
Транзакции
{% endblock page_header %}

{% block content %}
<div id="toolbar" class="mb-3">
  <form method="post">
  {% csrf_token %}
    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-daterange input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Период с:</span>
          </div>
            <input type="text" value="{{ start_date }}" class="input-sm form-control" name="start_date" />
        </div>
      </div>
      <div class="col-auto">
        <div class="input-daterange input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">по:</span>
          </div>
            <input type="text" value="{{ end_date }}" class="input-sm form-control" name="end_date" />
        </div>
      </div>
      <div class="col-auto">
        <div class="form-group form-group-sm mb-0">
          <input type="submit" class="form-control btn btn-sm btn-outline-secondary form-control-sm" value="Применить" />
        </div>
      </div>
    </div>
  </form>
  <dl class="row mt-3 mb-0">
    <dt class="col-sm-2">Текущий баланс:</dt>
    <dd class="col-sm-4">{{ cashbox_sum|price }}</dd>
  </dl>
</div>
<table class="table table-hover" 
  data-toggle="table"
  data-classes="table table-hover table-sm table-bordered"
  data-locale="ru-RU"
  >
  <thead>
    <tr>
      <th data-field="date" scope="col" class="border-top-0" data-width="70">Дата</th>
      <th data-field="amount" scope="col" class="border-top-0" data-width="150">Сумма</th>
      <th data-field="client" scope="col" class="border-top-0" data-width="200">Клиент</th>
      <th data-field="provider" scope="col" class="border-top-0"data-width="200">Поставщик</th>
      <th data-field="order" scope="col" class="border-top-0" data-width="200">Заказ</th>
      <th data-field="comment" scope="col" class="border-top-0">Комментарий</th>
      <th data-field="cashbox" scope="col" class="border-top-0" data-width="50">Касса</th>
    </tr>
  </thead>
  <tbody>
{% for transaction in object_list %}
    <tr>
      <td>{{ transaction.date|date:'d.m.y'}}</td>
      <td class="text-right text-nowrap">{{ transaction.amount|price }}</td>
      <td>
        <a class="text-reset" href="{% url 'docbox:client-detail' transaction.client.pk %}">
          {{ transaction.client.name }}
        </a>
      </td>
      <td>{{ transaction.provider.name }}</td>
      <td>{{ transaction.order.provider_code }}</td>
      <td>{{ transaction.comment }}</td>
      <td class="text-center">
      {% if transaction.cashbox %}
      <i class="fas fa-check"></i>
      {% endif %}
      </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% if is_paginated %}
<nav class="mt-3">
  <ul class="pagination justify-content-center">


    {% for page in paginator.page_range %}
    {% if page != page_obj.number %}
    <li class="page-item">
      <a class="page-link text-reset" href="?page={{ page }}">{{page}}</a>
    </li>
    {% else %}
    <li class="page-item active">
      <span class="page-link text-light bg-secondary border-secondary">
        {{page}}
      </span>
    </li>
    {% endif %}
    {% endfor %}

  </ul>
</nav>
{% endif %}

{% endblock content %}

{% block scripts %}
<script>
  $('#toolbar .input-daterange').datepicker({
    startView: 1,
    minViewMode: 1,
    language: "ru",
    daysOfWeekHighlighted: "0,6",
    todayHighlight: true,
    toggleActive: true
  });
</script>
{% endblock scripts %}